# API settings
BACKEND_HOST=0.0.0.0
BACKEND_PORT=15001

# DB settings
DB_HOST=localhost
DB_PORT=15002
DB_DEFAULT_DATABASE=postgres
DB_DEFAULT_USERNAME=postgres
DB_DEFAULT_PASSWORD=postgres
DB_APP_DATABASE=app
DB_APP_USERNAME=app_user
DB_APP_PASSWORD=password

# ES settings
ES_HOST=localhost
ES_PORT=15003
ES_SUPERUSER_PASSWORD=password
ES_DOCUMENTS_INDEX_NAME=documents
